.header {
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 2vw 1vh 3vw;
    z-index: 3000;
    color: $font-color-1;

    h1 {
        display: block;
        font-size: 1.2vw;
        font-weight: 400;
        z-index: inherit;
    }
}

.black {
    background-image: linear-gradient(to right, #00192c, #812b8c 42%, #ff4d5a);
}

@media screen and (orientation: portrait) {
    .header {
        padding: 3vh 4vw 3vh 6vw;

        h1 {
            font-size: 5vw;
        }
    }
    .black {
        background-image: linear-gradient(to right, #00192c, #812b8c 42%, #ff4d5a);
    }
}

