.moon-img {
    position: absolute;
    width: 100vh;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    .moon {
        width: 100vh;
        height: 100vh;
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 60%;
        margin: auto;
        transform-style: preserve-3d;
        perspective: 200px;
        transform-origin: center;
        opacity: 0;
        transition: left cubic-bezier(0.65, 0.05, 0.36, 1) 1s, opacity cubic-bezier(0.65, 0.05, 0.36, 1) 1.2s;
    }

    .moon img {
        width: 40vh;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .moon-animation {
        opacity: 1;
        left: 0;
    }

    .cloud {
        position: absolute;
        width: -moz-fit-content;
        width: fit-content;
        opacity: 0;
        transition: left cubic-bezier(0.65, 0.05, 0.36, 1) 1s, opacity cubic-bezier(0.65, 0.05, 0.36, 1) 1.5s;
        left: 90vw;
        img {
            width: 35vh;
        }
    }

    .cloud1 {
        top: 39%;
        z-index: 500;
    }

    .cloud1-animation {
        opacity: 1;
        left: 57%;
    }

    .cloud2 {
        top: 59%;
        z-index: 500;
    }

    .cloud2-animation {
        opacity: 1;
        left: 48%;
    }

    .cloud3 {
        top: 54%;
        z-index: 500;
    }

    .cloud3-animation {
        opacity: 1;
        left: 12%;
    }

    .cloud4 {
        top: 20%;
        z-index: 200;
    }

    .cloud4-animation {
        opacity: 1;
        left: 47%;
    }

    .cloud5 {
        top: 27%;
        z-index: 200;
    }

    .cloud5-animation {
        opacity: 1;
        left: 16%;
    }

    p {
        position: absolute;
        top: 47%;
        left: 6%;
        z-index: 400;
        font-size: 5vh;
        letter-spacing: 0.1em;
        font-weight: 700;
        text-shadow: 0 10px 15px rgba(0, 0, 0, 0.554);
        color: #ff4d5a;
        opacity: 0;
        transition: left cubic-bezier(0.65, 0.05, 0.36, 1) 1s, opacity cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
    }

    .title-animation {
        opacity: 1;
        left: 22%;
    }
}

@media screen and (orientation: portrait) {
    .moon-img {
        overflow: hidden;
        width: 100vw;
        height: 100vw;
        position: absolute;
        top: 5%;
        bottom: auto;

        .moon {
            width: 100vw;
            height: 100vw;
        }

        .moon img {
            width: 60vw;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .moon-animation {
            opacity: 1;
            left: 0;
        }

        .cloud {
            img {
                width: 60vw;
            }
        }

        .cloud1 {
            top: 38%;
        }

        .cloud1-animation {
            opacity: 1;
            left: 60%;
        }

        .cloud2 {
            top: 70%;
        }

        .cloud2-animation {
            opacity: 1;
            left: 50%;
        }

        .cloud3 {
            top: 60%;
        }

        .cloud3-animation {
            opacity: 1;
            left: -10%;
        }

        .cloud4 {
            top: 5%;
        }

        .cloud4-animation {
            opacity: 1;
            left: 47%;
        }

        .cloud5 {
            top: 10%;
        }

        .cloud5-animation {
            opacity: 1;
            left: -10%;
        }

        p {
            font-size: 7vw;
            top: 47%;
        }

        .title-animation {
            opacity: 1;
            left: 10%;
        }
    }
}
