.cursor {
    width: 4vh;
    height: 4vh;
    background-color: #ffffff3b;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 5000;
    transition: all ease-out 0.001s;
}

.hovering {
    transform: scale(0.5) translate(-4vh, -4vh);
    background-color: #4db8ff77;
    border-color: #4db8ff;
}
