.second-content {
    // 01
    .trace-content {
        width: 100vw;
        height: -moz-fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .trace-title {
            display: flex;
            justify-content: space-between;
            width: 60%;
            margin-bottom: 3%;
            div {
                text-align: center;
            }
        }
        img {
            width: 60%;
        }
        // .trace-image-container {
        //     display: flex;
        //     justify-content: center;
        //     width: 100%;
        //     margin-top: 5%;
        //     img {
        //         width: 30%;
        //         padding: 0 5vw;
        //     }
        // }
    }

    // 02
    .coming-content {
        width: 100vw;
        height: -moz-fit-content;
        height: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            width: 25%;
        }
        .screwdriver {
            transition: all ease 1s;
            z-index: 200;
            @keyframes dongleSkrew {
                0% {
                    transform: rotate(0deg);
                }
                20% {
                    transform: rotate(20deg);
                }
                40% {
                    transform: rotate(-20deg);
                }
                60% {
                    transform: rotate(10deg);
                }
                80% {
                    transform: rotate(0deg);
                }
            }
        }
        .wrench {
            transition: all ease 1s;
            @keyframes dongleWrench {
                0% {
                    transform: rotate(0deg);
                }
                20% {
                    transform: rotate(-20deg);
                }
                40% {
                    transform: rotate(20deg);
                }
                60% {
                    transform: rotate(-10deg);
                }
                80% {
                    transform: rotate(0deg);
                }
            }
        }
    }
}

@media screen and (orientation: portrait) {
    .second-content {
        // 01

        // 02
        .content {
            width: 80%;
            margin: 7% 0;
            height: -moz-fit-content;
            height: fit-content;
            img {
                width: 50%;
            }
            .screwdriver {
                transform: translateX(50%);
                @keyframes dongleSkrew {
                    0% {
                        transform: rotate(0deg) translateX(50%);
                    }
                    20% {
                        transform: rotate(-90deg);
                    }
                    40% {
                        transform: rotate(0deg) translateX(50%);
                    }
                    60% {
                        transform: rotate(-90deg);
                    }
                    80% {
                        transform: rotate(0deg) translateX(50%);
                    }
                }
            }
            .wrench {
                transform: translateX(-50%);
                @keyframes dongleWrench {
                    0% {
                        transform: rotate(0deg) translateX(-50%);
                    }
                    20% {
                        transform: rotate(90deg);
                    }
                    40% {
                        transform: rotate(0deg) translateX(-50%);
                    }
                    60% {
                        transform: rotate(90deg);
                    }
                    80% {
                        transform: rotate(0deg) translateX(-50%);
                    }
                }
            }
        }
    }
}
