.second_content {
  // 01
  .content_container {
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    .content_container_top {
      width: 100vw;
      margin-bottom: 5%;
      padding: 2% 10% 2% 10%;
      z-index: -1;
      background-color: aliceblue;
      .content_title {
        display: flex;
        justify-content: space-between;
        div {
          text-align: flex-start;
          color: linear-gradient(to top, #00192c, #812b8c 42%, #ff4d5a);
          font-size: 1.1vw;
        }
        .content_title1 {
          margin-bottom: 10px;
        }
        .content_title2 {
          font-weight: 100;
          color: gray;
        }
      }
    }
    img {
      width: 80%;
    }
    .content_container_bottom {
      width: 100vw;
      margin-top: 5%;
      padding: 5% 10% 5% 10%;
      background-color: aliceblue;
      font-size: 1.3vw;
      font-weight: 100;
      line-height: 1.4;
      margin-bottom: 2vh;
      word-wrap: break-word;
      white-space: normal;
      color: #828c96;
    }
  }

  // 02
  .coming_content {
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7% 0;
    img {
      width: 25%;
    }
    .screwdriver {
      transition: all ease 1s;
      z-index: 200;
      transform: translateX(100%);
    }
    //   @keyframes dongleSkrew {
    //     0% {
    //       transform: rotate(0deg);
    //     }
    //     20% {
    //       transform: rotate(20deg);
    //     }
    //     40% {
    //       transform: rotate(-20deg);
    //     }
    //     60% {
    //       transform: rotate(10deg);
    //     }
    //     80% {
    //       transform: rotate(0deg);
    //     }
    //   }

    .wrench {
      transition: all ease 1s;
      transform: translateX(-100%);
    }
    //   @keyframes dongleWrench {
    //     0% {
    //       transform: rotate(0deg);
    //     }
    //     20% {
    //       transform: rotate(-20deg);
    //     }
    //     40% {
    //       transform: rotate(20deg);
    //     }
    //     60% {
    //       transform: rotate(-10deg);
    //     }
    //     80% {
    //       transform: rotate(0deg);
    //     }
    //   }
  }
}

@media screen and (orientation: portrait) {
  .second_content {
    // 01
    .content_container {
      margin-top: 5%;
      .content_container_top {
        padding: 5% 10% 5% 10%;
        .content_title {
          flex-direction: column;
          justify-content: space-between;
          div {
            margin-bottom: 20px;
          }
          .content_title1 {
            font-size: 5vw;
            margin-bottom: 0;
          }
          .content_title2 {
            font-size: 5vw;
          }
        }
      }
      .content_container_bottom {
        font-size: 5vw;
      }
    }

    // 02
    .coming_content {
      width: 80%;
      margin: 7% 0;
      height: -moz-fit-content;
      height: fit-content;
      img {
        width: 30%;
      }
      .screwdriver {
        transform: translateX(80%);
        @keyframes dongleSkrew {
          0% {
            transform: rotate(0deg) translateX(80%);
          }
          20% {
            transform: rotate(-90deg);
          }
          40% {
            transform: rotate(0deg) translateX(80%);
          }
          60% {
            transform: rotate(-90deg);
          }
          80% {
            transform: rotate(0deg) translateX(80%);
          }
        }
      }
      .wrench {
        transform: translateX(-80%);
        @keyframes dongleWrench {
          0% {
            transform: rotate(0deg) translateX(-80%);
          }
          20% {
            transform: rotate(90deg);
          }
          40% {
            transform: rotate(0deg) translateX(-80%);
          }
          60% {
            transform: rotate(90deg);
          }
          80% {
            transform: rotate(0deg) translateX(-80%);
          }
        }
      }
    }
  }
}
