.scroll-bar {
    width: 3vw;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 3vw;
    z-index: 800;

    li {
        width: 45%;
        height: 0.25vh;
        margin: 4vh 0;
        border-radius: 100px;
        background-color: white;
    }

    .active {
        width: 75%;
        transition: all 1s ease-out;
    }
}

@media screen and (orientation: portrait) {
    .scroll-bar {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        left: 0;
        top: initial;
        margin: auto;
        z-index: 100;

        ul {
            width: 10%;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            transform-origin: center;
            transform: rotateZ(-90deg) translateX(-90%);
        }

        & ul li:nth-of-type(1) {
            margin-top: 0;
        }

        & ul li:nth-of-type(4) {
            margin-bottom: 0;
        }

        .active {
            width: 100%;
            transition: all 1s ease-out;
        }
    }
}
